.main {
  display: flex;
  height: var(--header-height);
}

.link {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 200px;
  text-transform: capitalize;
  font-size: 2rem;
  transition: 200ms;
}

.link:hover {
  background-color: var(--btn-primary);
}

.link[data-active="true"] {
  background: linear-gradient(120deg, var(--accent), var(--btn-primary));
}