.main {
  display: flex;
  flex-wrap: wrap;
  height: var(--header-height);
}

.link {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 200px;
  text-transform: capitalize;
  font-size: 2rem;
  user-select: none;
  transition: 200ms;
}

.link:hover {
  background-color: var(--btn-primary);
}

.link[data-active="true"] {
  background: linear-gradient(120deg, var(--accent), var(--btn-primary));
}

@media (max-width: 400px) {
  .link {
    font-size: 1.5rem;
    width: 150px;
  }
}