:root {
  --fg: #111;
  --bg: #eee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: #eee;
    --bg: #111;
  }
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: var(--fg);
  background-color: var(--bg);
}