.main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.clock {
  text-align: center;
  font-size: max(10vw, 2rem);
  color: var(--accent);
  user-select: none;
  letter-spacing: 5px;
  background: linear-gradient(120deg, var(--accent), var(--btn-primary));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.clock > span {
  font-size: 5vw;
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.laps {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  flex-grow: 1;
  height: 30vh;
  overflow: auto;
  border: 1px solid var(--btn-secondary);
  border-radius: 2px;
  transition: 200ms;
  font-family: var(--font-ubuntu-mono);
}

.laps[data-active="false"] {
  opacity: 0;
}

.laps > :nth-child(even) {
  background-color: var(--btn-secondary);
}

.laps > :first-child {
  flex-grow: 1;
}

.lap {
  font-size: 1.2rem;
  gap: 1rem;
  display: flex;
  width: 100%;
}

.lap > .index {
  color: var(--accent);
  text-align: center;
}

.lapClock {
  flex-grow: 1;
  text-align: center;
}

.lap > .diff {
  color: var(--btn-primary);
}