.main {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container > .row {
  display: flex;
  gap: 0.5rem;
}

.input {
  font-size: 10vw;
  width: 15vw;
  color: var(--fg);
  background-color: transparent;
  outline: none;
  border: none;
  text-align: right;
}

.clock {
  text-align: center;
  font-size: max(10vw, 2rem);
  color: var(--accent);
  user-select: none;
  letter-spacing: 5px;
  background: linear-gradient(120deg, var(--accent), var(--btn-primary));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}